body {
    margin: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.bg1 {
    background-image: url(BG-PRIVATSNAK1.jpg);
}

.bg2 {
    background-image: url(BG-PRIVATSNAK2-1.jpg);
}

.bg3 {
    background-image: url(BG-PRIVATSNAK3-1.jpg);
}



#payoff1 {
    position: absolute;
    background-image: url(payoff1.jpg);
    width: 52.75vw;
    height: 37.37vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 10vw;
    left: 24vw;
    opacity: 0;
}

#payoff2 {
    position: absolute;
    background-image: url(payoff2.jpg);
    width: 52.75vw;
    height: 37.37vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 10vw;
    left: 24vw;
    opacity: 0;
}

#nederen {
    position: absolute;
    background-image: url(bannernederen.png);
    width: 78.12vw;
    height: 35.18vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 10vw;
    left: 10vw;
    opacity: 0;
}

.nederen_appear {
    animation-name: nederen_kf;
    animation-duration: 0.1s;
    animation-fill-mode: both;
}

@keyframes nederen_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*** SoMe ikoner start ***/

#insta1 {
    position: absolute;
    background-image: url(insta.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 28vw;
    left: 87vw;
    opacity: 0;

}

#snap1 {
    position: absolute;
    background-image: url(snap.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 28vw;
    left: 87vw;
    opacity: 0;

}

#face1 {
    position: absolute;
    background-image: url(face.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 28vw;
    left: 87vw;
    opacity: 0;

}

.ikon_anim_1 {
    animation-name: ikon_anim_1_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes ikon_anim_1_kf {
    0% {
        opacity: 1;
        top: 28vw;
        left: 87vw;
    }
    100% {
        opacity: 0;
        top: 15vw;
        left: 87vw;
    }
}

#insta2 {
    position: absolute;
    background-image: url(insta.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 38vw;
    left: 10vw;
    opacity: 0;


}

#snap2 {
    position: absolute;
    background-image: url(snap.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 38vw;
    left: 10vw;
    opacity: 0;


}

#face2 {
    position: absolute;
    background-image: url(face.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 38vw;
    left: 10vw;
    opacity: 0;


}

.ikon_anim_2 {
    animation-name: ikon_anim_2_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes ikon_anim_2_kf {
    0% {
        opacity: 1;
        top: 38vw;
        left: 10vw;
    }
    100% {
        opacity: 0;
        top: 25vw;
        left: 10vw;
    }
}

#insta3 {
    position: absolute;
    background-image: url(insta.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 18vw;
    left: 33vw;
    opacity: 0;

}

#snap3 {
    position: absolute;
    background-image: url(snap.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 18vw;
    left: 33vw;
    opacity: 0;

}

#insta3 {
    position: absolute;
    background-image: url(face.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 18vw;
    left: 33vw;
    opacity: 0;

}

.ikon_anim_3 {
    animation-name: ikon_anim_3_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes ikon_anim_3_kf {
    0% {
        opacity: 1;
        top: 18vw;
        left: 33vw;
    }
    100% {
        opacity: 0;
        top: 10vw;
        left: 33vw;
    }
}



/*** SoMe ikoner slut ***/

/************ PROMPT ************/

#prompt {
    position: absolute;
    background-image: url(prompt.svg);
    width: 50vw;
    height: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 5vw;
    left: 25vw;
    opacity: 0;

}

#ja {
    position: absolute;
    background-image: url(ja.svg);
    width: 14vw;
    height: 6vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20vw;
    left: 34vw;
    opacity: 0;

}

#nej {
    position: absolute;
    background-image: url(nej.svg);
    width: 14vw;
    height: 6vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20vw;
    left: 53vw;
    opacity: 0;

}

.prompt_appear {
    animation-name: prompt_appear_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes prompt_appear_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.prompt_disappear {
    animation-name: prompt_disappear_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes prompt_disappear_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/************ PROMPT ************/

/************ PHONE CONTAINER *************/

#phone_container {
    position: absolute;
}

.phone_container_start {
    left: 30vw;
    top: 60vw
}

.phone_container_enter {
    animation-name: phone_container_enter_kf;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes phone_container_enter_kf {
    0% {
        left: 30vw;
        top: 60vw;
        transform: scale(0.8);
    }

    100% {
        left: 32vw;
        top: 15vw;
        transform: scale(1.2);
    }
}

.phone_container_type {
    left: 32vw;
    top: 15vw;
    transform: scale(1.2)
}

.phone_container_exit {
    animation-name: phone_container_exit_kf;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes phone_container_exit_kf {
    0% {
        left: 32vw;
        top: 15vw;
        transform: scale(1.2);
    }

    100% {
        left: 30vw;
        top: 60vw;
        transform: scale(0.8);
    }
}

/************ PHONE CONTAINER SLUT *************/

/************ PHONE SPRITE *************/

#phone_sprite {
    background-image: url(phonesprites.svg);
    width: 43.75vw;
    height: 50vw;
    background-size: 1000% 100%;
}

.phone_sprite_type {
    animation-name: phone_sprite_type_kf;
    animation-duration: 3.5s;
    animation-fill-mode: both;
    animation-timing-function: steps(9);
}

@keyframes phone_sprite_type_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

/************ PHONE SPRITE SLUT *************/

#flash {
    background-image: url(flash.svg);
    position: absolute;
    width: 75vw;
    height: 48.75vw;
    background-size: cover;
    top: 3vw;
    left: 13vw;
    opacity: 0;

}

.flash_animation {
    animation-name: flash_animation_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes flash_animation_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


#start_knap {
    position: absolute;
}

.start_knap_start {
    background-image: url(startknap.svg);
    width: 39.43vw;
    height: 15.12vw;
    background-size: contain;
    top: 20vw;
    left: 33vw;
    background-repeat: no-repeat;
}

.start_knap_klik {
    animation-name: start_knap_klik_kf;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes start_knap_klik_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#hjerte_1 {
    position: absolute;
    background-image: url(hjerte.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.97vw;
    height: 4.86vw;
    top: 16.5vw;
    left: 48vw;
    transform: rotate(10deg);
    opacity: 0;
}

#hjerte_2 {
    position: absolute;
    background-image: url(hjerte.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 4.97vw;
    height: 5.86vw;
    top: 15vw;
    left: 43vw;
    transform: rotate(-13deg);
    opacity: 0;
}

#hjerte_3 {
    position: absolute;
    background-image: url(hjerte.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.97vw;
    height: 3.86vw;
    top: 21vw;
    left: 47vw;
    transform: rotate(-10deg);
    opacity: 0;
}

.hjerte_blink_1 {
    animation-name: hjerte_blink_1_kf;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes hjerte_blink_1_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hjerte_blink_2 {
    animation-name: hjerte_blink_2_kf;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes hjerte_blink_2_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hjerte_blink_3 {
    animation-name: hjerte_blink_3_kf;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes hjerte_blink_3_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

button {
    position: absolute;
}

/************ BAMSE CONTAINER *************/

#bamse_container {

    position: absolute;
}

.bamse_container_start_pos {
    left: 15vw;
    top: 23vw;
}



.dans_bamse_container {
    animation-name: dans_bamse_container_kf;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes dans_bamse_container_kf {
    0% {
        left: 15vw;
        top: 23vw;
    }

    100% {
        left: 31.5vw;
        top: 23vw;
    }
}

.kys_bamse_container {
    animation-name: kys_bamse_container_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;

}



@keyframes kys_bamse_container_kf {
    0% {
        left: 31.5vw;
        top: 23vw;
    }

    100% {
        left: 32vw;
        top: 23vw;
    }
}

.ked_bamse_container {
    left: 33vw;
    top: 23vw;
}

/************ BAMSE CONTAINER SLUT *************/

/************ BAMSE SPRITE *************/

#bamse_sprite {
    background-image: url(bamsedanskysked.svg);
    background-size: 1000% 300%;
    width: 18.75vw;
    height: 31.25vw;



}

.dans_bamse_sprite {
    animation-name: bamse_sprite_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
}

@keyframes bamse_sprite_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 1000% 0%;
    }
}

.kys_bamse_sprite {
    animation-name: kys_bamse_sprite_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(2);
}

@keyframes kys_bamse_sprite_kf {
    0% {
        background-position: 0% -100%;
    }

    100% {
        background-position: 20% -100%;
    }
}

.flash_bamse_sprite {
    background-position: 0% -200%;

}

.ked_bamse_sprite {
    animation-name: ked_bamse_sprite_kf;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
}

@keyframes ked_bamse_sprite_kf {
    0% {
        background-position: 0% -200%;
    }

    100% {
        background-position: 1000% -200%;
    }
}

/************ BAMSE SPRITE SLUT *************/

/************ KYLLING CONTAINER *************/

#kylling_container {
    position: absolute;
}

.kylling_container_start_pos {
    left: 66.25vw;
    top: 23vw;
}

.dans_kylling_container {
    animation-name: dans_kylling_container_kf;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes dans_kylling_container_kf {
    0% {
        left: 66.25vw;
        top: 23vw;
    }

    100% {
        left: 43vw;
        top: 23vw;
    }
}

.kys_kylling_container {
    animation-name: kys_kylling_container_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;

}


@keyframes kys_kylling_container_kf {
    0% {
        left: 43vw;
        top: 23vw;
    }

    100% {
        left: 42.5vw;
        top: 23vw;
    }
}

.ked_kylling_container {
    left: 42vw;
    top: 23vw;
}

/************ KYLLING CONTAINER SLUT *************/

/************ KYLLING SPRITE *************/

#kylling_sprite {
    background-image: url(kyllingdanskysked.svg);
    background-size: 1000% 300%;
    width: 18.75vw;
    height: 31.25vw;


}

.dans_kylling_sprite {
    animation-name: kylling_sprite_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
}

@keyframes kylling_sprite_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 1000% 0%;
    }
}

.kys_kylling_sprite {
    animation-name: kys_kylling_sprite_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: steps(2);
}

@keyframes kys_kylling_sprite_kf {
    0% {
        background-position: 0% -100%;
    }

    100% {
        background-position: 22% -100%;
    }
}

.flash_kylling_sprite {
    background-position: 0% -200%;

}

.ked_kylling_sprite {
    animation-name: ked_kylling_sprite_kf;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
}

@keyframes ked_kylling_sprite_kf {
    0% {
        background-position: 0% -200%;
    }

    100% {
        background-position: 1000% -200%;
    }
}

/************ KYLLING SPRITE SLUT*************/
